---
const links = [
 {
  ref: '01',
  name: 'Home',
  href: '/',
 },
 {
  ref: '02',
  name: 'About',
  href: '/about',
 },
 {
  ref: '03',
  name: 'Services',
  href: '/services',
 },
 {
  ref: '04',
  name: 'Projects',
  href: '/projects',
 },
 {
  ref: '05',
  name: 'Testimonials',
  href: '/testimonials',
 },
 {
  ref: '06',
  name: 'Contact',
  href: '/contact',
 },
];
---

<!-- 'bg-primary-50 dark:bg-primary-950' -->
<header
 x-data="{ open: false }"
 class="header-group transition"
 :class="{ 'bg-primary-500/10 dark:bg-primary-400/10': open, 'bg-primary-50 dark:bg-primary-950': !(open) }"
>
 <div class="grid grid-cols-12 px-4 py-4 lg:px-8">
  <!-- Brand logo -->
  <div class="col-span-2 flex">
   <a
    href="/"
    class="rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
   >
    <span class="sr-only">Logo</span>
    <img class="w-14 sm:w-24" src="/assets/logo-inverted.webp" alt="Reflair logo" />
   </a>
  </div>

  <div class="col-span-10 flex items-center justify-end sm:justify-center">
   <!-- Top Menu -->

   <div class="hidden sm:block">
    <nav class="flex flex-auto sm:gap-4 md:gap-8 lg:gap-12 xl:gap-20">
     {
      links.map((link) => (
       <a
        href={link.href}
        class="group inline-flex py-4 text-base font-medium tracking-tight text-primary-950 transition focus-visible:outline-none dark:text-primary-200 sm:py-6 sm:text-xl"
       >
        <div class="flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 sm:gap-12">
         <div class=" flex items-center">
          <span class="mr-1 text-xs">{link.ref}</span>
          <span class="group-hover:underline">{link.name}</span>
         </div>
        </div>
       </a>
      ))
     }
    </nav>
   </div>
   <!-- Toggle menu -->
   <button
    type="button"
    class="inline-flex h-14 w-14 items-center justify-center rounded-full text-primary-950 ring-primary-950 transition hover:bg-primary-500/10 focus:outline-none focus-visible:ring-2 dark:text-primary-200 dark:hover:bg-primary-400/10 sm:hidden"
    @click="open = !open"
    @mousedown="if (open) $event.preventDefault()"
    aria-controls="website-menu"
    aria-expanded="false"
    :aria-expanded="open.toString()"
   >
    <span class="sr-only">Toggle menu</span>
    <svg
     x-cloak
     class="h-8 w-8"
     :class="{ 'hidden': open, 'block': !(open) }"
     xmlns="http://www.w3.org/2000/svg"
     fill="currentColor"
     viewBox="0 0 24 24"
     aria-hidden="true"
    >
     <path d="M19 8H5V10H19V8ZM19 14H5V16H19V14Z"></path>
    </svg>
    <svg
     x-cloak
     class="h-8 w-8"
     :class="{ 'block': open, 'hidden': !(open) }"
     xmlns="http://www.w3.org/2000/svg"
     fill="currentColor"
     viewBox="0 0 24 24"
     aria-hidden="true"
    >
     <path
      d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
     ></path>
    </svg>
   </button>
  </div>
 </div>

 <!-- Menu content -->
 <div
  class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8"
  id="website-menu"
  x-cloak
  x-show="open"
  x-collapse
  x-collapse.duration.500ms
 >
  <div class="grid grid-cols-1 gap-16 pb-8 pt-6 lg:grid-cols-2 lg:pb-12 lg:pt-12">
   <div
    class="hidden items-center justify-center rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10 lg:flex"
   >
    <img
     class="w-48 sm:w-80"
     :src="$store.theme.isDark ? 'assets/change-is-here-dark.png' : 'assets/change-is-here.png'"
     alt="Change is here"
    />
   </div>

   <!-- Navigation -->
   <nav class="flex flex-col gap-1 divide-y divide-primary-900/10 dark:divide-primary-300/10">
    {
     links.map((link) => (
      <a
       href={link.href}
       class="group inline-flex py-4 text-xl font-medium tracking-tight text-primary-950 transition focus-visible:outline-none dark:text-primary-200 sm:py-6 sm:text-2xl"
      >
       <div class="flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200">
        <div class="flex items-center gap-6">
         <span class="text-xs">{link.ref}</span>
         <span class="group-hover:underline">{link.name}</span>
        </div>
       </div>
      </a>
     ))
    }
   </nav>
  </div>
 </div>
</header>

<style>
 /* .header-group {
    position: sticky;
    top: 0;
    z-index: 10;
    opacity: calc(1% * min(var(--scroll), 50) * 100 / 50);

   
  } */
</style>
